/* .rrr{
     background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
} */
.belowrrr{
    margin-top: 0;
    vertical-align: center;
    position: relative;
    top: 270px;
    padding-top: 70px;
    z-index: 51;

}
.theme{
    font-size: 100px;
    margin-top: 2px;
   margin-bottom: 15px;
    text-align: center;
    position: relative;
    top: 27.3rem;
    color: #896d4d;

}
.belowrrr1{
    margin-top: 90px;
    font-size: 60px;
    color: #d3d3d0;
    text-align: center;
}
.welcome1{
    margin-bottom: 0;
    justify-content: center;

}
.welcome2{
    font-size: 45px;
    margin-top: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}


.belowrrr2{
    justify-content: space-around;
    width: 100%;
    color: #d3d3d0;
    
}
.date{
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
    color: #d3d3d0;
}
.register{
    top: -100px;
    bottom: 30vh;
}
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    
  }
  .register{
    align-items: center;
  }
  /* button styling */
  .button {
    top: 133vh;
    --border-right: 6px;
    --text-stroke-color: rgba(121,94,63,0.9);
    --animation-color: rgba(121,94,63);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 1px var(--animation-color))
  }
  .vid{
    position: absolute;
    width: 100%;
  }
  .timerrr{
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -190px;
    margin-top: 50px;
  }
  @media screen and (max-width: 960px) {
    .timerrr{
      top: 330px;
    }
    .theme{
      font-size: 42px;
      margin-top: 2px;
      text-align: center;
      position: relative;
      top: 530px;
      color: #d0bf51;
      margin-bottom: 5vh;
    }
    .button{
      top: 135vh;
      margin-bottom: 10vh;
    }

    .belowrrr1{
      font-size: 30px;
    }
    .belowrrr2{
      font-size: 2px;
    }
  }

  @media screen and (max-width: 425px){
    .button{
      top: 140vh;
    }
    .timerrr{
      top: 265px;
    }
  }